<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DsiCodetech.RabbitMQ.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DsiCodetech.RabbitMQ.Settings>
            <setting name="HostName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>CPH</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Admin123</value>
            </setting>
            <setting name="VirtualHost" serializeAs="String">
                <value>/</value>
            </setting>
        </DsiCodetech.RabbitMQ.Settings>
    </applicationSettings>
</configuration>