<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">
	<targets>
		<target xsi:type="ColoredConsole" name="colored_console"/>
		<target name="file" xsi:type="File"
				fileName="C:\suPlaza\logs\caja\SystemOut_${date:format=yyyy-MM-dd}.log"
				layout="${threadid} ${date:format=yyyy-MM-dd HH:mm:ss.fff} > [${logger:shortName=true}]${callsite:className=true:methodName=true:includeSourcePath=false}: ${uppercase:${level}}: [${callsite:fileName=true:includeSourcePath=false}:${callsite:lineNumber=true}] - MESSAGE: ${message}${exception:format=ToString,StackTrace}${newline}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="*" minlevel="Info" writeTo="file,colored_console" />
	</rules>
</nlog>