<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="pos_caja_Entities" connectionString="metadata=res://*/PosCaja.PosCaja.csdl|res://*/PosCaja.PosCaja.ssdl|res://*/PosCaja.PosCaja.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E7L4U2B\SQLEXPRESS;initial catalog=pos_caja;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="pos_cajaEntities" connectionString="metadata=res://*/PosCaja.PosCaja.csdl|res://*/PosCaja.PosCaja.ssdl|res://*/PosCaja.PosCaja.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-CVOMG1OH;initial catalog=pos_caja;persist security info=True;user id=sa;password=Plaza15;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="pos_caja_Entities" connectionString="metadata=res://*/PosCaja.PosCaja.csdl|res://*/PosCaja.PosCaja.ssdl|res://*/PosCaja.PosCaja.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-E7L4U2B\SQLEXPRESS;initial catalog=pos_caja;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="pos_caja_Entities" connectionString="metadata=res://*/PosCaja.PosCaja.csdl|res://*/PosCaja.PosCaja.ssdl|res://*/PosCaja.PosCaja.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-94MABHQ;initial catalog=pos_caja;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>